section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70rem;

  background-color: var(--col-1);
  padding: 0 calc(var(--padding-normal) * 2) calc(var(--padding-normal) * 4);
  gap: var(--padding-normal);
}